<div class="py-5" *ngFor="let connection of connections">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <label id="message" class="mt-5 mb-3 text-success"></label>
      <div class="card rounded-0  connection">
        <div class="card-header">
          <h3 class="mb-0">Connection Id : {{connection._id}}</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Status : {{connection.status}}</label>
          </div>
          <div class="form-group">
            <label>Connection type : {{connection.connection_type}}</label>
          </div>
          <div class="form-group">
            <label>Request date : {{connection.request_date}}</label>
          </div>
          <div class="form-group">
            <label>Address : {{connection.address}}</label>
          </div>
          <hr>
          <div>
            <label>Address proof : {{connection.address_proof_type}}</label><br/>
            <img src="http://localhost:3000/file/{{connection.address_proof}}" class="img-fluid" alt="Responsive image">
          </div>
          <hr>
          <div>
            <label>User id proof : {{connection.user_id_proof_type}}</label><br/>
            <img src="http://localhost:3000/file/{{connection.user_id_proof}}" class="img-fluid" alt="Responsive image">
          </div>
          <hr>
          <div class="form-group" *ngIf="isRunning(connection)">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="viewBillsClicked(connection)" id="view_bills_button">View bills</button>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
